.styled-table {
    border-collapse: collapse;
    margin: 10vw ;
    background-color: #edecec;
    font-size: 1vw;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(148, 144, 144, 0.15);
}


.styled-table thead tr {
    background-color: #1eb056;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 1.5vw 2.5vw;
}

.styled-table tbody tr {
    border-bottom: .1vw solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: .2vw solid #1eb056;
}


.top-button{
    background-color: #1eb056;
    color: white;
}


.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: .1;
    object-fit: cover;
}
@media (max-width: 768px){}