
.container1{
    margin-top: 1vw;

    background-size: cover;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.log{
    height: 35vw;
    width: 40vw;
    background-color: #ffffff;
    border: 0.1vw solid;
    padding-left: 2vw;
    border: .2vw solid #4fff82;
    border-radius: 1vw ;
    box-shadow: 0 0 10px 2px rgba(79, 255, 130, 0.6),
                0 0 30px 5px rgba(79, 255, 130, 0.4);
    
    
  
}
.in{
    display: flex;
    justify-content: center;
    padding-right: 1vw;
    font-size: 1.9vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.enter{
    margin-top: 0.01vw;
    margin-left: 2.5vw;
    padding-left: 1 vw;
    padding-right:20vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3vw;


}
.enter1{
    margin-top:0.2vw;
    margin-left: 2.5vw;
    padding-left: 1.5 vw;
    padding-right:20vw;
    padding-top: 7vw;
    padding-bottom: 2.9vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3vw;

}
.logb{
    margin-top: 1.5vw;
    margin-left: 2.2vw;
    padding-left:15.8vw;
    padding-right: 15.8vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border: .1vw solid black;
    border-radius: 1vw ;
    box-shadow: 0 0 10px 2px rgba(79, 255, 130, 0.6),
                0 0 30px 5px rgba(79, 255, 130, 0.4);
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
}
.logb:hover{
    background-color: rgb(253, 93, 98);
    color: #ffffff;
    
}
.sup{
    padding-left:6vw;
    padding-top: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.txt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.autoplay{
    margin-bottom: 2vw;
    border-radius: 2vw;
    
}
.slick-track img{
    height: 20vw;
    width: 15vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 4vw

}