.head-container{
    display: flex;
    justify-content:space-between;
    margin: calc(-50vw + 50%);
    align-items: center;
    background-color: rgb(207, 32, 41);
    border-bottom: 1px solid rgba(198, 89, 89, 0.835);
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    padding-right: 3vw;
}
.navbar a{
    text-decoration: none;
    padding: 0vw 2vw;
    transition: 200ms;
    color: #ffffff;
    text-align: center;
    font-size: 1.2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
} 
.top-button{
    background-color: white;
    border: 0.1vw solid rgb(254, 254, 254);
    font-size: 1.3vw;
    padding: 0.8vw 1.7vw;
    margin:1.7vw 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top-button1{
    background-color: rgb(234, 72, 72);
    border-radius: 1vw;
    border: 0.1vw solid rgb(216, 54, 54);
    font-size: 1.3vw;
    padding: 0.6vw 1.7vw;
    margin: 3px 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    color: #ffffff;
    
}

.swiper-wrapper {
    width: 20vw;
    height: 4vw;
    padding-bottom: 0.5vw!important;
    padding-left:26vw;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
    }
    .swiper-pagination-bullet {
    background: #4f46e5;
    }
    .swiper-slide{
        padding-top:1vw;

        
    }
    #slider-button-left{
        margin-left: 20vw;
        color: rgb(21, 224, 224);
        background-color: rgb(16, 16, 18);
        height: 2.5vw;
        border: none;
    }
    #slider-button-right{
        margin-right: 20vw;
        color: rgb(21, 224, 224);
        background-color: rgb(16, 16, 18);
        height: 2.5vw;
        border: none;
        
    }
    .container1{
        background-color: rgb(16, 16, 18);
        margin-top: 1vw;
    }

  .product{
    display: flex;
    justify-content: center;
    
  }
  .list{
    margin-top: 4vw;
    margin-bottom: 4vw;
    margin-right:3vw;
    margin-left: 3vw;
  text-align: center;
  outline-offset: -.8rem ;
   box-shadow:  0.5rem 0.5rem 0.7rem  rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
    width: 18vw;
    cursor: pointer;
   
  }
  .list:hover{
    outline: .1rem solid #222;
    outline-offset: 0 ;

  }
.list:hover h4{
    color: #27ae60;
  }
.buy{
    background-color: #55bbf3;
    margin-left: 5.3vw;
    margin-top: 2.1vw;
    
}
.buy:hover{
    background-color: chartreuse;
    
}
.container2{
    height: 11vw;

}
.next{
    margin-top: 5vw;
    margin-left: 48vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size:1.4vw;
    background-color: #ffffff;
    padding-bottom:0.5vw;
    padding-top: 0.5vw;
    border-radius: 2vw;
    
}
.next:hover{
    background-color: #55bbf3;
    color: #ffffff;
    transition: transform 0.3s;
}
.foot{
    display: flex;
    justify-content: space-around;
    background-color: rgba(10, 10, 10, 0.929);
    height: 30vw;
    margin: calc(-50vw + 50%);}
    
.sub9{
    margin-top: 9vw;
    margin-bottom: 1vw;
}
.sub91{
    text-align: cleft;
    font-size: 2vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1.5vw;
}
.sub92{
    font-size: 1vw;
    color: white;
    text-align: left;
    margin-bottom: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.f1{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pro{
    display: block;
    margin-top: 1.4vw;
    margin-left: 3vw ;

    height:12vw;
    width: 12vw;
    
} 
.pro:hover{
    transform: scale(0.9);
}
.product-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
}
.product-preview .preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 40rem;
}
.product-preview .preview.active{
    display: inline-block;
}
.preview img{
    height:12vw;
    width: 12vw;
    display: inline-flex;
    justify-content: center;
}
.product-preview .preview.fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
}

.fa-times:hover{
    transform: rotate(90deg);
}